{% extends "layouts/base.html" %} {% load static %} {% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Customers</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    No.
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  >
                    Username
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    FullName
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Address
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Email
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Phone
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for customer in customers %}
                <tr>
                  <td class="align-middle text-center text-sm">
                    {{ forloop.counter }}
                  </td>
                  <td class="align-middle">
                    <a href="{% url 'customer_detail' customer.id %}">
                      <p class="text-xs font-weight-bold mb-0">
                        {{ customer.username }}
                      </p>
                    </a>
                  </td>
                  <td class="align-middle">
                    <p class="text-xs text-secondary mb-0">
                      {{ customer.fullname }}
                    </p>
                  </td>
                  <td class="align-middle">
                    <p class="text-xs text-secondary mb-0">
                      {{ customer.address }}
                    </p>
                  </td>
                  <td class="align-middle">
                    <p class="text-xs text-secondary mb-0">
                      {{ customer.email }}
                    </p>
                  </td>
                  <td class="align-middle">
                    <p class="text-xs text-secondary mb-0">
                      {{ customer.phone }}
                    </p>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="6" class="text-center text-secondary">
                    No customers yet.
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "includes/footer.html" %}
</div>
{% endblock content %}
