{% extends "layouts/base.html" %}
{% block content %}
<h2>Vehicle Detail</h2>
<table class="table table-bordered">
    <tr>
        <th>License Plate</th>
        <td>{{ vehicle.number }}</td>
    </tr>
    <tr>
        <th>Owner</th>
        <td>{{ vehicle.customer.fullname }}</td>
    </tr>
    <tr>
        <th>Vehicle Type</th>
        <td>{{ vehicle.vehicle_type.name }}</td>
    </tr>
    <tr>
        <th>Model</th>
        <td>{{ vehicle.model }}</td>
    </tr>
    <tr>
        <th>Purchase Price</th>
        <td>{{ vehicle.purchase_price }}</td>
    </tr>
    <tr>
        <th>Registration Date</th>
        <td>{{ vehicle.registration_date }}</td>
    </tr>
</table>
<a href="{% url 'vehicle_list' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'vehicle_update' vehicle.pk %}" class="btn btn-warning">Edit</a>
{% endblock %}
