{% load static %}

<section class="awards-section">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title light centered">
      <div class="title">We Achieved</div>
      <h2>Awards &amp; Recognition</h2>
    </div>
    <!-- End Sec Title -->

    <div class="inner-container">
      <div class="section-icons-outer parallax-scene-8">
       <div data-depth="0.20" class="icon-layer" style="background-image: url('{% static 'images/icons/icon-1.png' %}');"></div>
<div data-depth="0.20" class="pattern-layer" style="background-image: url('{% static 'images/background/pattern-3.png' %}');"></div>

      </div>

      <div class="row clearfix">
        <!-- Blocks Column -->
        <div class="blocks-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="row clearfix">

              <!-- Award Block 1 -->
              <div class="award-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="color-layer"></div>
                  <div class="icon flaticon-graduated-1"></div>
                  <h5><a href="#">Best InsurTech Company 2024</a></h5>
                  <div class="text">
                    Honored by Vietnam Digital Awards for innovation in online car insurance services.
                  </div>
                </div>
              </div>

              <!-- Award Block 2 -->
              <div class="award-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="250ms" data-wow-duration="1500ms">
                  <div class="color-layer"></div>
                  <div class="icon flaticon-bar-chart-1"></div>
                  <h5><a href="#">Fastest Growing Platform</a></h5>
                  <div class="text">
                    Recognized for 200% year-over-year user growth in the Vietnamese insurance market.
                  </div>
                </div>
              </div>

              <!-- Award Block 3 -->
              <div class="award-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="color-layer"></div>
                  <div class="icon flaticon-charity"></div>
                  <h5><a href="#">Outstanding Customer Support</a></h5>
                  <div class="text">
                    Awarded for maintaining a 98% customer satisfaction rate across all service channels.
                  </div>
                </div>
              </div>

              <!-- Award Block 4 -->
              <div class="award-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="250ms" data-wow-duration="1500ms">
                  <div class="color-layer"></div>
                  <div class="icon flaticon-trophy-1"></div>
                  <h5><a href="#">Excellence in Service Quality</a></h5>
                  <div class="text">
                    Recognized by the Vietnam Business Excellence Forum for superior claim handling.
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Image Column -->
        <div class="image-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="image">
              <span class="triangle-one"></span>
              <span class="triangle-two"></span>
              <img src="{% static 'images/resource/award.jpg' %}" alt="Awards and Recognition">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>