{% load static %}
<section class="services-section">
  <div class="auto-container">
    <!-- Section Title -->
    <div class="sec-title centered">
      <div class="title">Our Services</div>
      <h2>
        We ensure best insurance services <br>
        for our clients.
      </h2>
    </div>
    <!-- End Sec Title -->

    <div class="inner-container">
      <div class="section-icons-outer parallax-scene-3" style="pointer-events: none;">
        <div data-depth="0.20" class="icon-layer" style="background-image: url({% static 'images/icons/icon-1.png' %});"></div>
        <div data-depth="0.20" class="pattern-layer" style="background-image: url({% static 'images/background/pattern-3.png' %});"></div>
        <div data-depth="0.20" class="pattern-layer-two" style="background-image: url({% static 'images/background/pattern-4.png' %});"></div>
      </div>

      <div class="three-item-carousel owl-carousel owl-theme">
        
        {% for category in categories %}
        <!-- Service Block -->
        <div class="service-block">
          <div class="inner-box">
            <div class="image">
              <a href="#">
                {% if category.images %}
                  <img src="{{ category.images }}" alt="{{ category.name }}">
                {% else %}
                  <img src="{% static 'images/resource/service-1.jpg' %}" alt="{{ category.name }}">
                {% endif %}
              </a>
            </div>
            <div class="lower-content">
              <h4><a href="#">{{ category.name|truncatechars:18 }}</a></h4>
              <div class="text">
                {{ category.description|truncatechars:53 }}
              </div>
              <a href="#" class="read-more">Purchase</a>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>