{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Insurance Categories</h6>
          {% if messages %}
            {% for message in messages %}
              {% if message.tags != 'error' %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
              {% endif %}
            {% endfor %}
          {% endif %}
          <div class="d-flex justify-content-between mb-2">
            <div>
              {% if can_add %}
              <a href="{% url 'insurance_category:insurance_category_create' %}" class="btn btn-primary btn-sm">
                <i class="fa-solid fa-plus"></i> Add Category
              </a>
              {% endif %}
              <a href="{% url 'insurance_category:insurance_category_list' %}" class="btn btn-secondary btn-sm">
                <i class="fas fa-sync-alt"></i> Refresh
              </a>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">No.</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fee</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Rate</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
                </tr>
              </thead>
              <tbody>
                {% for category in categories %}
                <tr>
                  <td class="align-middle text-center text-sm">{{ forloop.counter }}</td>
                  <td class="align-middle">
                    <a href="{% url 'insurance_category:insurance_category_detail' category.id %}">
                      <p class="text-xs font-weight-bold mb-0">{{ category.name }}</p>
                    </a>
                  </td>
                  <td class="align-middle">
                    <p class="text-xs text-secondary mb-0">{{ category.fee }}</p>
                  </td>
                  <td class="align-middle">
                    <p class="text-xs text-secondary mb-0">{{ category.rate }}</p>
                  </td>
                  <td class="align-middle">
                    <p class="text-xs text-secondary mb-0">{{ category.type }}</p>
                  </td>
                  <td class="align-middle">
                    <p class="text-xs text-secondary mb-0">{{ category.description }}</p>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="6" class="text-center text-secondary">No insurance categories yet.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "includes/footer.html" %}
</div>
{% endblock content %}
